:root{
  --white: #fff;
  --main: #eaedf0;
  --accent01: #0041ff;
  --accent02: #ebedf0;
}

body{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: start;
  padding-top: 200px;
  background-color: var(--main);
}
.container{
  background-color: var(--white);
  border-radius: 20px;
  padding: 0 20px;
}
header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--accent01);
  padding: 10px;
  prev{
    cursor: pointer;
  }
}
.header-display{
  font-size: 18px;
  word-spacing: 0.5em;
}
.week, .days{
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  div{
    width: 3rem;
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0.5;
  }
}
.days div{
  border-radius: 50%;
  opacity: 1;
  cursor: pointer;
  &:hover{
    background-color: var(--accent02);
    color: var(--accent01);
  }
}
.current-date{
  background-color: var(--accent01);
  color: var(--white);
}
.display-selected{
  text-align: center;
  margin: 10px 0;
  height: 40px;
  line-height: 40px;
}
.selected-date{
  margin: 0;
}